html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #5dc7e7;
  background-image: url(tiled-bg.png);
  background-repeat: repeat;
  background-position: top left;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Hace que los botones de modos estén visibles y accesibles */
.worldSwitcher {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.worldSwitcher__button {
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 188px;
  height: 88px;
  padding: 0;
}
.worldSwitcher__button img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
